@font-face {
    font-family: Fira Sans;
    src: url(/assets/font/ttf/Fira_Sans/FiraSans-Regular.ttf);
}

@font-face {
    font-family: Fira Code;
    src: url(/assets/font/ttf/FiraCode-Retina.ttf);
}

* {
    margin: 0;
    font-family: 'Fira Sans';
}

.banner {
    background-image: url(/assets/images/circuit.webp);
    min-height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: brightness(70%);
}

body {
    background: #282828;
    color: #ebdbb2;
}

.text {
    font-weight: 600;
    text-rendering: optimizeLegibility;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5rem auto;
    width: 1200px;
}

.welcome {
    font-size: 5rem;
    border-bottom: solid thick #ebdbb2;
}

.section {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 5px;
    width: 100%;
    margin: 100px auto 100px auto;
    flex-wrap: wrap;
}
.about-module {
    text-align: right; 
    width: 400px;
}
.module {
    min-width: 200px;
    line-height: 1.5;
    background: #32302f;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0px 5px 15px #1d2021;
}

.module h1 {
    color: #83a598;
    padding-bottom: 15px;
}

.skills {
    justify-content: space-evenly;
}

.skills ul{
    padding: 1px 0px 1px 15px;
}

.footer {
    background: #689d6a;
    display: flex;
    justify-content: space-evenly;
    align-items: top;
    padding: 25px;
    font-size: 1.3rem;
}

.links, .site , .extras {
    display: flex;
    flex-direction: column;
    align-items: left;
    min-width: 100px;
    margin: 10px;
}

.footer-header {
    color: #282828;
    border-bottom: solid 1px #282828;
    margin-bottom: 5px;
}

.link {
    text-decoration: none;
    color: #000;
    transition: color .15s;
    padding: 2px 0px 2px 0px;
}

.link:hover {
    color: #504945;
    text-decoration: underline;
}

@media only screen and (max-width: 1200px) {
    .container {
        width: 100%;
    }
}
@media only screen and (max-width: 800px) {

    .banner {
        min-height: 200px;
        width: 100%;
        background-attachment: scroll;
    }

    .welcome {
        font-size: 12vw;
    }

    .module {
        min-width: 250px;
        margin: 15px 0px 15px 0px;
    }

    .about-module {
        width: 90%;
        max-width: none;
        text-align: left;
        margin: 50px auto;
    }
    
    .container {
        width: 90%;
    }
    .section {
        flex-direction: column;
        margin: none;
        width: 95%;
    }
}