@font-face {
    font-family: Fira Sans;
    src: url(/assets/font/ttf/Fira_Sans/FiraSans-Regular.ttf);
}

@font-face {
    font-family: Fira Code;
    src: url(/assets/font/ttf/FiraCode-Retina.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Fira Sans';
}

body {
    background-color: #1d2021;
    color: #ebdbb2;
}

.footer {
    background: #689d6a;
    display: flex;
    justify-content: space-evenly;
    align-items: top;
    padding: 25px;
    flex-wrap: wrap;
    font-size: 1.3rem;
}

.socials, .site , .extras {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.footer-header {
    color: #282828;
    border-bottom: solid 1px #282828;
    margin-bottom: 5px;
}

.link {
    text-decoration: none;
    color: #000;
    transition: color .1s;
    padding: 2px 0px 2px 0px;
}

.link:hover {
    color: #504945;
    text-decoration: underline;
}