@font-face {
    font-family: Fira Sans;
    src: url(/assets/font/ttf/Fira_Sans/FiraSans-Regular.ttf);
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Fira Sans';
}

body, html {
    background-color: #1d2021;
    color: #ebdbb2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}